body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  background: #F9FAFB;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #2563EB;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

/* MAIN */
.main {
  flex: 1;
  padding: 32px;
}

/* SALDO */
.saldo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 200px;
}

.entrada h2 {
  color: #16A34A;
}

.saida h2 {
  color: #DC2626;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 30px;
}

.form input {
  height: 40px;
  padding: 8px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
}

.form button {
  height: 40px;
  background: #2563EB;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  background: white;
  border-radius: 8px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #E5E7EB;
  text-align: left;
}